<div class="row justify-content-md-center mt-5">
    <div class="col-12 col-md-5">

        <img class="profile-img"
             src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt="">

        <form class="form-signin" name="LoginController.loginForm"
              ng-submit="LoginController.login(LoginController.loginForm.$valid)" novalidate>

            <input type="text" name="username" class="form-control" placeholder="Username"
                   ng-model="LoginController.user.username" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password"
                   ng-model="LoginController.user.password" required>

            <input type="submit" class="btn btn-lg btn-default btn-block"
                   ng-disabled="LoginController.loginForm.$invalid" value="Sign In"/>

        </form>

    </div>
</div>
